<h4>Propiedades Input en Angular</h4>

<componente-hijo

 [texto1] = "dato_externo"
 [texto2] = "identity"
 (desde_el_hijo) = "recibirDatos($event)"

 ></componente-hijo>

<div *ngIf="datos_del_hijo">
	
	<h1>{{datos_del_hijo.nombre}}</h1>
	<h1>{{datos_del_hijo.web}}</h1>
	<h1>{{datos_del_hijo.twitter}}</h1>

</div>

<hr/>

 <h4>{{titulo}}</h4> 
<!--- Antes -->
<!--div *ngIf="!administrador"> 
    <strong style="background: red; color:white;">NO Eres el administrador de la webapp</strong>
</div-->

<div *ngIf="administrador; then admin else noAdmin"></div>

<!-- NUEVO:**** con ngTemplate -->
<ng-template #admin>
    <button (click)="cambiar(false)">Cambiar</button>
    <strong style="background: black; color:lightblue;">Eres el administrador de la webapp</strong>
</ng-template>

<ng-template #noAdmin> 
    <button (click)="cambiar(true)">Cambiar</button>
    <strong style="background: black; color:lightblue;">NO , NO , NO , NO Eres el administrador de la webapp</strong>
</ng-template>

